@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Amiri', serif;
}

/*menu  */
ul {
    display: table;
    margin: 20px auto;
    padding: 0px 20px;
}
ul li {
    list-style: none;
    display: inline-block;
}
ul li a {
    color: #E9E6E1;
    text-decoration: none;
    position: relative;
    padding: 0 25px;
    font-size: 16px;
    display: block;
    z-index: 1;
}
ul li a:hover{
    color: #A8B36F;
}
ul li a + a {
    margin-left: 16px;
}
ul li a::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 92%;

    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    z-index: -1;
}
ul a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
ul li a.active::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 92%;
    transition: transform 0.5s ease;
    transform-origin: bottom left;
    transform: scaleX(1);
    z-index: -1;
}

/*container-1  */
.header{
    background-color: #32251D;
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 2px solid #32251D;
    z-index: 1000;
}
.nd1{
    height: 600px;
    background-image: url("../image/white/1.jpg");
    background-repeat: no-repeat;
    background-position:100%;
    font-size: 20px;
    color: #32251D;
    background-attachment: fixed;
}

/* container-2 */
.nd2{
    border-bottom: 2px solid #32251D;
}

/* container-3 */
.nd3
{
    height: 600px;
    /* background-color: #32251D; */
    background-color: #E9E6E1;
    /* color: white; */
    color: #32251D;
    font-size: 30px;
    border-top: 2px solid #32251D;
    border-bottom: 2px solid #58483e;
}
.pic02{
    transition: all 0.5s linear;
    overflow: hidden;
}
.pic1:hover .pic02
{
   filter: grayscale(100%);
}


/* container-4 */
.nd4{
    background-color: #E9E6E1 ;
    border-bottom: 2px solid #58483e;
}
.nd4-a{
    border-left: 2px solid #32251D;
    border-right: 2px solid #32251D;
}
.pic01{
    transition: all 0.5s linear;
    overflow: hidden;
}
.pic:hover .pic01
{
   filter: grayscale(100%);
}

/* container- */
.nd-{
    height: 600px;
    background-color: #E9E6E1;
    background-image: url("../image/yellow/6.jpg");
    background-repeat: no-repeat;
    background-position:100%;
    font-size: 20px;
    color: #32251D;
    background-attachment: fixed;
}

/* container-5 */
.nd5{
    background-color: #E9E6E1;
    color:#32251D ;
    font-size: 18px;
}
.nd5-a{
    border-top: 2px solid #32251D;
    border-bottom: 2px solid #32251D;
}
.no-10 {
    text-decoration: none;
    color:#32251D ;
}
.nd5-b{
    font-size: 30px; 
    padding-bottom: 10px;
    display: inline-block; 
    border-bottom: 10px solid #af8070;
}
.nd5-a:hover{
    color: #A8B36F;
}
.pic03{
    transition: all 0.5s linear;
    overflow: hidden;
}
.pic3:hover .pic03
{
   filter: grayscale(100%);
}
/* container-6 */
.vanban6a
{
    height: 450px;
}
.lendong
{
    display: flex;
    flex-wrap: wrap;
}
.testimonial-slider .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #32251D;
    border-radius: 100%;
}
.testimonial-slider {
    padding: 30px 0px 32px;
}

/* container-7 */
.nd7{
    border-top: 2px solid #32251D;
    color:#32251D ;
    font-size: 18px;
    
}
.nd7-a{
    font-size: 50px; 
    padding-bottom: 10px;
    display: inline-block; 
    border-bottom: 8px solid #af8070;
}
.nd7-a:hover{
    color: #A8B36F;
}


/* container-8 */
.bg-brown{background-color:#32251D;}
.nd8{border: 2px solid #32251D;}



/* footer */
footer {
    background: #1f1712;
    color: #fff;
    font-size: 14px;
}
footer .footer-top {
    background: #32251D;
    padding: 60px 0px 30px;
}
footer .address p {
    font-size: 16px;
    color: #ddd;
    font-style: italic;
}
footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #1f1712;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;
}
footer .social-links a:hover {
    background: #A8B36F;
}
footer h4 {
    font-size: 18px;
    color: #A8B36F;
    padding-bottom: 12px;
}
footer .footer-menus {
    margin-bottom: 30px;
}
footer .footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .footer-menus ul li {
    margin-bottom: 10px;
}
footer .footer-menus ul i {
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
}
footer .footer-menus ul a {
    color: #fff;
    text-decoration: none;
}
footer .footer-menus ul a:hover {
    color: #A8B36F;
}
footer .newsletter form {
    margin-top: 30px;
    background: #E9E6E1;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #3a3a3a;
}
footer .newsletter form input[type="email"] {
    border: 0;
    padding: 5px;
    background: #E9E6E1;
    color: #fff;
}
footer .newsletter form input[type="email"]:focus {
    outline: none;
}
footer .newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    font-size: 16px;
    background: #A8B36F;
    color: #000;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
footer .newsletter form input[type="submit"]:hover {
    background: #A8B36F;
}
.footer-bottom {
    padding: 20px 0px;
}
footer .footer-bottom a {
    color: #A8B36F;
    text-decoration: none;
}
